:root {
  --toolbar-bgcolor: none;
  --tab-min-height: 30px;
}

.browser-toolbar {
  background-color: black !important;
}

#navigator-toolbox {
  border-bottom: none !important;
}

/* Open debugger with <Ctrl-Shift-Alt-I> */

#context-setDesktopBackground       { display: none; }
#context-savelinktopocket           { display: none; }
#context-sendimage                  { display: none; }
#context-saveimage                  { display: none; }
#context-stripOnShareLink           { display: none; }
#context-openlinkinusercontext-menu { display: none; }
